In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_excel(r"C:\Users\Satyaki\Desktop\Parikshith_Github\EDA-main\EDA\Flight_Price\Flight_Price\Flight_Ticket_Participant_Datasets-20190305T100527Z-001\Flight_Ticket_Participant_Datasets\Data_Train.xlsx")

In [3]:
data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
data.duplicated().value_counts()

False    10463
True       220
dtype: int64

In [5]:
data[data.duplicated()==True]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
683,Jet Airways,1/06/2019,Delhi,Cochin,DEL → NAG → BOM → COK,14:35,04:25 02 Jun,13h 50m,2 stops,No info,13376
1061,Air India,21/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,22:00,19:15 22 May,21h 15m,2 stops,No info,10231
1348,Air India,18/05/2019,Delhi,Cochin,DEL → HYD → BOM → COK,17:15,19:15 19 May,26h,2 stops,No info,12392
1418,Jet Airways,6/06/2019,Delhi,Cochin,DEL → JAI → BOM → COK,05:30,04:25 07 Jun,22h 55m,2 stops,In-flight meal not included,10368
1674,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,18:25,21:20,2h 55m,non-stop,No info,7303
...,...,...,...,...,...,...,...,...,...,...,...
10594,Jet Airways,27/06/2019,Delhi,Cochin,DEL → AMD → BOM → COK,23:05,12:35 28 Jun,13h 30m,2 stops,No info,12819
10616,Jet Airways,1/06/2019,Delhi,Cochin,DEL → JAI → BOM → COK,09:40,12:35 02 Jun,26h 55m,2 stops,No info,13014
10634,Jet Airways,6/06/2019,Delhi,Cochin,DEL → JAI → BOM → COK,09:40,12:35 07 Jun,26h 55m,2 stops,In-flight meal not included,11733
10672,Jet Airways,27/06/2019,Delhi,Cochin,DEL → AMD → BOM → COK,23:05,19:00 28 Jun,19h 55m,2 stops,In-flight meal not included,11150
10673,Jet Airways,27/05/2019,Delhi,Cochin,DEL → AMD → BOM → COK,13:25,04:25 28 May,15h,2 stops,No info,16704

In [6]:
data.shape

(10683, 11)

### Duplicates Handling Function

In [7]:
def duplicates_drop(dataset):
    dataset.drop_duplicates(subset=None,keep='first',inplace=True)

In [8]:
data1 = pd.read_excel(r"C:\Users\Satyaki\Desktop\Parikshith_Github\EDA-main\EDA\Flight_Price\Flight_Price\Flight_Ticket_Participant_Datasets-20190305T100527Z-001\Flight_Ticket_Participant_Datasets\Data_Train.xlsx")

In [9]:
data1.shape

(10683, 11)

In [10]:
duplicates_drop(data1)

In [11]:
data1.shape

(10463, 11)

In [12]:
data2 = pd.read_csv(r"C:\Users\Satyaki\Desktop\Parikshith_Github\EDA-main\EDA\forest_fires\forest_fires\forest_fires.csv")

In [13]:
data2.duplicated().value_counts()

False    513
True       4
dtype: int64

In [14]:
data2.shape

(517, 13)

In [15]:
duplicates_drop(data2)

In [16]:
data2.shape

(513, 13)

In [17]:
data3 = pd.read_csv(r"C:\Users\Satyaki\Desktop\Data_Set\steam-200k.csv")

In [18]:
data3.duplicated().value_counts()

False    199292
True        707
dtype: int64

In [19]:
data3.shape

(199999, 5)

In [20]:
duplicates_drop(data3)

In [22]:
data3.shape

(199292, 5)

In [23]:
data4 = pd.read_csv(r"C:\Users\Satyaki\Desktop\Data_Set\hotel_bookings.csv")

In [24]:
data4.duplicated().value_counts()

False    87396
True     31994
dtype: int64

In [25]:
data4.shape

(119390, 32)

In [26]:
duplicates_drop(data4)

In [27]:
data4.shape

(87396, 32)

### Null Handling Function

In [29]:
data4.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03